@function pxToRem($px) {
    @return $px / 23.4375 * 1rem;
  }
  .exit{
    width: pxToRem(30);
    position: absolute;
    top: pxToRem(10);
    right: pxToRem(10);
  }
.projectInfo{
    position: relative;
    background: rgba(136,95,95,0.1);
    width: 90%;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5px;
    padding: 0 pxToRem(10);
    line-height: pxToRem(50);
    font-size: pxToRem(18);
    .rightArrow{
        position: absolute;
        top: pxToRem(50);
        right: pxToRem(20);
        width: pxToRem(30);
    }
  }